root/uct/src/main/resources/db/xsd/CurrBuy_ID8_V5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="BSDocument">
		<xs:annotation>
			<xs:documentation>Покупка валюты. ID=8</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DEALTYPE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Тип покупки</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="40"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DOCUMENTDATE" type="BS_Date">
					<xs:annotation>
						<xs:documentation>Дата документа</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GROUNDCODE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Код вида операции</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DOCUMENTNUMBER">
					<xs:annotation>
						<xs:documentation>Номер документа</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:minLength value="1"/>
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="GROUNDNAME" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Описание вида операции</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTID" type="BS_Integer">
					<xs:annotation>
						<xs:documentation>ID организации</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GROUNDDOCUMENT" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Доп. информация для вал. контроля</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SENDEROFFICIALS" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Ответственный исполнитель</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="40"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ACCOUNTCOVER" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Счет зачисления суммы рублевого покрытия</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="25"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTOMERNAME" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Название Предприятия</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="160"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BANKCOVERBIC" minOccurs="0">
					<xs:annotation>
						<xs:documentation>БИК банка, в котором открыт счет зачисления руб. покрытия</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="KBOPID">
					<xs:annotation>
						<xs:documentation>ID подразделения</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSInteger"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTOMERPROPERTYTYPE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Форма собственности Предприятия</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DEPOSITAGREEMENTNUMBER" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Номер сопровождающей справки о вал. операциях</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTOMERINN" minOccurs="0">
					<xs:annotation>
						<xs:documentation>ИНН Предприятия</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DEPOSITAGREEMENTDATE" type="BSDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Дата справки о вал. операциях</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GTDNUMBER" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Номер заявления на резервирование</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTOMEROKPO" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Код ОКПО Предприятия</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTOMERPLACE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Населенный пункт  Предприятия</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="GTDDATE" type="BSDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Дата заявления на резервирование</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GTDAMOUNT" type="BSMoney" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сумма в заявлении на резервирование</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CUSTOMERPLACETYPE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Тип населенного пункта Предприятия</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTOMERADDRESS" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Адрес Предприятия</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LICENCENUMBER" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Номер лицензии ЦБ на покупку валюты</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTOMERCOUNTRY" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Код страны Предприятия</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LICENCEDATE" type="BSDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Дата лицензии ЦБ на покупку валюты</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DEALPASSPORTNUMBER" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Номер паспорта сделки</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ACCOUNTRUR" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Рублевый счет Предприятия в Банке</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="25"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DEALPASSPORTDATE" type="BSDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Дата паспорта сделки</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ACCOUNTCURR" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Валютный расчетный счет Предприятия в Банке</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="25"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTOMERTYPE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Тип Предприятия</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSInteger">
							<xs:pattern value=""/>
							<xs:pattern value="0"/>
							<xs:pattern value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CONTRACTNUMBER" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Номер контракта, обосновывающего  покупку валюты</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PHONEOFFICIAL" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Телефон ответственного сотрудника</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CONTRACTDATE" type="BSDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Дата контракта, обосновывающего  покупку валюты</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FAXOFFICIAL" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Факс ответственного сотрудника</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ANOTHERDOCUMENTDATE" type="BSDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Дата представленного документа</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="REQUESTRATE" type="BSDouble" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Курс по заявке</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ANOTHERDOCUMENTTYPE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Тип представленного документа</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ACCOUNTDEBET">
					<xs:annotation>
						<xs:documentation>Счет по дебету</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_String">
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ANOTHERDOCUMENTNUMBER" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Номер представленного документа</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CURRCODEDEBET">
					<xs:annotation>
						<xs:documentation>Код валюты счета по дебету</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_String">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CBAGREEMENTNUMBER" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Номер документа, регистрирующего в ЦБ валютную операцию</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AMOUNTDEBET" type="BSMoney" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сумма в валюте счета по дебету</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CBAGREEMENTDATE" type="BSDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Дата документа, регистрирующего в ЦБ валютную операцию</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ACCOUNTCREDIT">
					<xs:annotation>
						<xs:documentation>Счет по кредиту</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_String">
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BUYTYPE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Тип покупки</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="255"/>
							<xs:enumeration value=""/>
							<xs:enumeration value="на всю сумму рублей"/>
							<xs:enumeration value="валюты не более"/>
							<xs:enumeration value="ровно"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CURRCODECREDIT">
					<xs:annotation>
						<xs:documentation>Код валюты счета по Кредиту</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_String">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DEPOINFO" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Реквизиты банка зачисления купленной валюты</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AMOUNTCREDIT" type="BSMoney" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сумма в валюте счета по кредиту</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TRANSFERDOCUMENTNUMBER" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Номер поручения о переводе средств на покупку банку</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DEBETBANKBIC" minOccurs="0">
					<xs:annotation>
						<xs:documentation>БИК банка дебета</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="15"/>
							<xs:enumeration value=""/>
							<xs:enumeration value="на всю сумму рублей"/>
							<xs:enumeration value="валюты не более"/>
							<xs:enumeration value="ровно"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TRANSFERDOCUMENTDATE" type="BSDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Дата поручения о переводе средств на покупку банку</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DEBETBANKTYPE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Тип банка дебета</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AGREEMENTINFONUMBER" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сведения о договоре</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="18"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DEBETBANKNAME" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Название банка дебета</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="80"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AMOUNTCOVER" type="BSMoney" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сумма рублевого покрытия, перечисляемого банку</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DEBETBANKPLACE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сумма рублевого покрытия, перечисляемого банку</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="25"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="REQUESTRATETYPE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Тип курса покупки</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSInteger">
							<xs:pattern value=""/>
							<xs:pattern value="0"/>
							<xs:pattern value="1"/>
							<xs:pattern value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DEBETBANKPLACETYPE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Тип населенного пункта банка дебета</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CHARGETYPE" type="BSInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Способ списания комиссии</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DEBETBANKCORRACC" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Корсчет банка дебета</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="25"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SUPPLYCONDITION" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Условия поставки покупаемой валюты</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="150"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CREDITBANKBIC" minOccurs="0">
					<xs:annotation>
						<xs:documentation>БИК банка кредита</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SUPPLYCONDITIONDATE" type="BSDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Дата поставки покупаемой валюты</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CREDITBANKTYPE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Тип банка кредита</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BANKAGREEMENT" type="BSString" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Соглашения с банком</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CREDITBANKNAME" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Название банка кредита</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="80"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CREDITBANKSWIFT" minOccurs="0">
					<xs:annotation>
						<xs:documentation>SWIFT-код банка зачисления валюты</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CREDITBANKPLACE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Город банка кредита</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="25"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CREDITBANKCORRACC" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Кор. счет банка кредита</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="25"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CREDITBANKPLACETYPE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Тип населенного пункта банка кредита</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="VALIDITYPERIOD" type="BSDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Срок действия заявки</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PAYMENTDETAILS" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Детали платежа, доп. информация</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CHARGEACCOUNT" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Счет комиссии</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="25"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="VALUEDATETYPE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Выбор даты валютирования</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="40"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="GROUNDRECEIPTSBLOB" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Документы, обосновывающие сделку</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AMOUNT" type="BSMoney" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сумма представленного документа</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="DESCRIPTION" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Примечание</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="BSString">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DOCUMENTDATE" type="BSDate" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Дата представленного документа</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="DOCUMENTNUMBER">
											<xs:annotation>
												<xs:documentation>Номер представленного документа</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="BS_String">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DOCUMENTTYPE">
											<xs:annotation>
												<xs:documentation>Тип представленного документа</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="BS_String">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CODEMESSAGE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Код сообщения</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MESSAGEFORBANK" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сообщение для банка</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NONACCEPTAGREEDATE" type="BSDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Дата соглашения</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="NONACCEPTAGREENUMBER" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Номер соглашения</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="25"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BALANCEACCOUNT">
					<xs:annotation>
						<xs:documentation>Счет зачисления неиспользованной суммы</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_Integer">
							<xs:totalDigits value="25"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BALANCEBANKBIC" minOccurs="0">
					<xs:annotation>
						<xs:documentation>БИК банка зачисления неиспользованной суммы</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BALANCEDEPINFO" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Реквизиты банка для зачисления неиспользованной суммы</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BALANCETO">
					<xs:annotation>
						<xs:documentation>Признак «Неиспользованную валюту вернуть на счет в нашем банке / в другой кредитной организации»</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_Integer">
							<xs:totalDigits value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="BS_Date">
		<xs:annotation>
			<xs:documentation>Дата. DD.MM.YYYY</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="(0[1-9]|[12][0-9]|3[01])\.(0[1-9]|1[012])\.((19)|(20)\d{2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BS_Double">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BS_Integer">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="0"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BS_Money">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BS_String">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BS_STRING">
		<xs:annotation>
			<xs:documentation>Пустая строка</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="0"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BSDate">
		<xs:annotation>
			<xs:documentation>DD.MM.YYYY | ""</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:list itemType="BS_Date"/>
			</xs:simpleType>
			<xs:simpleType>
				<xs:list itemType="BS_STRING"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="BSDouble">
		<xs:annotation>
			<xs:documentation>DOUBLE | ""</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:list itemType="BS_Double"/>
			</xs:simpleType>
			<xs:simpleType>
				<xs:list itemType="BS_STRING"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="BSInteger">
		<xs:annotation>
			<xs:documentation>INTEGER | ""</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:list itemType="BS_Integer"/>
			</xs:simpleType>
			<xs:simpleType>
				<xs:list itemType="BS_STRING"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="BSMoney">
		<xs:annotation>
			<xs:documentation>MONEY | ""</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:list itemType="BS_Money"/>
			</xs:simpleType>
			<xs:simpleType>
				<xs:list itemType="BS_STRING"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="BSString">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
