root/uct/src/main/resources/db/xsd/DealPassCred138i_ID62_V5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="BSDocument">
		<xs:annotation>
			<xs:documentation>
				Паспорт сделки по кредитному договору (138-И)
				(ID_62). Версия 5.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DOCUMENTDATE" type="BS_Date">
					<xs:annotation>
						<xs:documentation>Дата документа</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DOCUMENTNUMBER">
					<xs:annotation>
						<xs:documentation>Номер документа</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_String">
							<xs:maxLength value="15" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTID" type="BS_Integer">
					<xs:annotation>
						<xs:documentation>ID организации</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SENDEROFFICIALS" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Ответственный исполнитель</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="40" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="KBOPID">
					<xs:annotation>
						<xs:documentation>ID подразделения</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_Integer" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTOMERBANKNAME">
					<xs:annotation>
						<xs:documentation>Наименование уполномоченного банка
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_String">
							<xs:maxLength value="255" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTOMERBANKBIC">
					<xs:annotation>
						<xs:documentation>БИК банка Клиента
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_String">
							<xs:maxLength value="9" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTOMERPROPERTYTYPE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Форма собственности организации-резидента
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="10" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTOMERNAME">
					<xs:annotation>
						<xs:documentation>Название организации-резидента
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_String">
							<xs:maxLength value="255" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTOMEROGRN" minOccurs="0">
					<xs:annotation>
						<xs:documentation>ОГРН организации-резидента</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="30" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTOMERINN" minOccurs="0">
					<xs:annotation>
						<xs:documentation>ИНН организации-резидента</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="12" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTOMERKPP" minOccurs="0">
					<xs:annotation>
						<xs:documentation>КПП организации-резидента</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="9" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTOMERTYPE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Тип организации-резидента: резидент – 0,
							нерезидент – 1
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSInteger">
							<xs:pattern value="" />
							<xs:pattern value="0" />
							<xs:pattern value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LAWSTATE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Субъект РФ</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="40" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LAWDISTRICT" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Район</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="255" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LAWCITY" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Город</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="100" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LAWPLACETYPE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Тип населенного пункта</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="5" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LAWPLACE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Населенный пункт</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="35" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LAWSTREET" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Улица</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="100" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LAWBUILDING" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Номер дома</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="50" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LAWBLOCK" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Корпус/строение</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="20" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LAWOFFICE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Офис/квартира</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="20" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PHONEOFFICIALS" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Телефон ответственного исполнителя
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="20" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DPDATE" type="BSDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Дата ПС</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DPNUM1" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Первая часть номера ПС</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="8" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DPNUM2" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Вторая часть номера ПС</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="4" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DPNUM3" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Третья часть номера ПС</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="4" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DPNUM4">
					<xs:annotation>
						<xs:documentation>Четвертая часть номера ПС</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_String">
							<xs:maxLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DPNUM5" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Пятая часть номера ПС</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CONNUMBER" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Номер контракта/кредитного договора
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="50" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ISCONNUMBER">
					<xs:annotation>
						<xs:documentation>Признак номера контракта/кредитного договора (с
							номером – 0 /
							без номера – 1)
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_Integer">
							<xs:pattern value="0" />
							<xs:pattern value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CONDATE" type="BSDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Дата контракта (кредитного договора)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CONCURRCODE">
					<xs:annotation>
						<xs:documentation>Код валюты цены контракта/кредитного договора
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_String">
							<xs:maxLength value="3" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CONCURRNAME" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Наименование валюты цены контракта/кредитного
							договора
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="100" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CONAMOUNT" type="BSMoney" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сумма контракта/кредитного договора
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ISCONAMOUNT">
					<xs:annotation>
						<xs:documentation>Признак суммы контракта/кредитного договора (с
							суммой – 0 / без суммы – 1)
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_Integer">
							<xs:pattern value="0" />
							<xs:pattern value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CONENDDATE" type="BSDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Дата завершения исполнения обязательств
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CONAMOUNTTRANSFER" type="BSMoney"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сумма, подлежащая зачислению на счета за рубежом
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CREDAMOUNTCURR" type="BSMoney"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Сумма, подлежащая погашению за счет валютной
							выручки
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CREDPAYPERIODCODE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Код срока погашения суммы кредитного договора
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="5" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CREDTRANCHEBLOB" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Блоб-таблица, содержащая информацию о
							предоставляемых траншах по кредитному договору
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TRANCHEAMOUNT" type="BS_Money">
											<xs:annotation>
												<xs:documentation>Сумма транша</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="TRANCHEPAYMENTPERIODCODE">
											<xs:annotation>
												<xs:documentation>Код срока привлечения транша
												</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="BS_String">
													<xs:maxLength value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="RECEIPTDATE" type="BS_Date">
											<xs:annotation>
												<xs:documentation>Ожидаемая дата поступления
												</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DPNUMBEROTHERBANK" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Номер ПС, ранее оформленного в другом
							уполномоченном банке
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="25" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FIXRATEPERCENT" type="BSPersent">
					<xs:annotation>
						<xs:documentation>Фиксированный размер процентной ставки (%
							годовых)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="LIBORRATE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Код ставки ЛИБОР</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="10" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OTHERRATEMETHOD" minOccurs="0" type="BSString">
					<xs:annotation>
						<xs:documentation>Другие методы определения процентной ставки
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="INCREASERATEPERCENT" minOccurs="0"
					type="BSPersent">
					<xs:annotation>
						<xs:documentation>Размер процентной надбавки (% годовых)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DEBTSAMOUNT" type="BSMoney" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сумма фактической задолженности по основному
							долгу
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PAYMENTRETURNBLOB" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Блоб-таблица, содержащая информацию о графике
							платежей по возврату заемных средств
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PAYMENTDEBTDATE" type="BS_Date">
											<xs:annotation>
												<xs:documentation>Дата платежа в счет основного долга
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PAYMENTDEBTAMOUNT" type="BS_Money">
											<xs:annotation>
												<xs:documentation>Сумма платежа в счет основного долга
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PAYMENTPERCENTDATE" type="BS_Date">
											<xs:annotation>
												<xs:documentation>Дата платежа в счет процентных платежей
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PAYMENTPERCENTAMOUNT" type="BS_Money">
											<xs:annotation>
												<xs:documentation>Сумма платежа в счет процентных платежей
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SPECIALCONDITIONS">
											<xs:annotation>
												<xs:documentation>Особые условия</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="BS_String">
													<xs:maxLength value="255" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ISDIRECTINVESTING" type="BSInteger"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Признак наличия отношений прямого инвестирования
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DEPOSITAMOUNT" type="BSMoney"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сумма залогового обеспечения
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CREDRECEIPTINFOBLOB" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Блоб-таблица, содержащая информацию о получении
							резидентом
							кредита, предоставленного на синдицированной основе
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BENEFICIAR">
											<xs:annotation>
												<xs:documentation>
													Наименование иностранного контрагента
												</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="BS_String">
													<xs:maxLength value="255" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BENEFICIARCOUNTRYCODE">
											<xs:annotation>
												<xs:documentation>
													Код страны иностранного контрагента
												</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="BS_String">
													<xs:maxLength value="3" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ISCREDAMOUNT" type="BS_Integer">
											<xs:annotation>
												<xs:documentation>Признак определения суммы кредита
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CREDAMOUNT" type="BS_Money">
											<xs:annotation>
												<xs:documentation>Сумма кредитного договора
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CREDPERCENT" type="BS_Persent">
											<xs:annotation>
												<xs:documentation>Доля в общей сумме кредита, % </xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="BANKVKFULLNAME" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Наименование уполномоченного банка
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="255" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="NONRESIDENTINFO" minOccurs="0">
					<xs:annotation>
						<xs:documentation>БЛОБ таблица: Реквизиты нерезидента
							(нерезидентов)
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NAME">
											<xs:annotation>
												<xs:documentation>Наименование нерезидента
												</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="BS_String">
													<xs:maxLength value="255" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!-- <xs:choice> -->
										<xs:element name="COUNTRY">
											<xs:annotation>
												<xs:documentation>Наименование страны нерезидента
												</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="BS_String">
													<xs:maxLength value="50" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COUNTRYCODE">
											<xs:annotation>
												<xs:documentation>Код страны нерезидента
												</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="BS_String">
													<xs:maxLength value="3" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!-- </xs:choice> -->
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="OTHERPAYMENTS" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Иные платежи, предусмотренные договором
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="255" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FLAGPAYMENTRETURN" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Признак заполнения : 1-на основании сведений из
							кредитного договора;
							2-на основании оценочных данных
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSInteger">
							<xs:pattern value="" />
							<xs:pattern value="1" />
							<xs:pattern value="2" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DOCATTACHMENT" type="xs:string"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Файлы вложений</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SENDDATEBEFOREISSUECLIENT" type="BSDate"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Дата представления документов для оформления ПС
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SENDTYPEBEFOREISSUECLIENT" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Способ представления документов для оформления
							ПС
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="2" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DATEOGRN" type="BSDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Дата государственной регистрации
						</xs:documentation>
					</xs:annotation>
				</xs:element>

			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="BS_Date">
		<xs:annotation>
			<xs:documentation>Дата. DD.MM.YYYY</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve" />
			<xs:pattern
				value="(0[1-9]|[12][0-9]|3[01])\.(0[1-9]|1[012])\.((19)|(20)\d{2})" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BS_Integer">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="0" />
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BS_String">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve" />
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BSString">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BS_STRING">
		<xs:annotation>
			<xs:documentation>Пустая строка</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="0" />
			<xs:whiteSpace value="collapse" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BSInteger">
		<xs:annotation>
			<xs:documentation>INTEGER | ""</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:list itemType="BS_Integer" />
			</xs:simpleType>
			<xs:simpleType>
				<xs:list itemType="BS_STRING" />
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="BSDate">
		<xs:annotation>
			<xs:documentation>DD.MM.YYYY | ""</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:list itemType="BS_Date" />
			</xs:simpleType>
			<xs:simpleType>
				<xs:list itemType="BS_STRING" />
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="BS_Money">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BSMoney">
		<xs:annotation>
			<xs:documentation>MONEY | ""</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:list itemType="BS_Money" />
			</xs:simpleType>
			<xs:simpleType>
				<xs:list itemType="BS_STRING" />
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="BS_Double">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BS_Persent">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="100" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BSDouble">
		<xs:annotation>
			<xs:documentation>DOUBLE | ""</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:list itemType="BS_Double" />
			</xs:simpleType>
			<xs:simpleType>
				<xs:list itemType="BS_STRING" />
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="BSPersent">
		<xs:annotation>
			<xs:documentation>Persent | ""</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:list itemType="BS_Persent" />
			</xs:simpleType>
			<xs:simpleType>
				<xs:list itemType="BS_STRING" />
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
</xs:schema>