root/uct/src/main/resources/db/xsd/PayDocRu_ID1_V7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- <xs:include schemaLocation="BaseXMLSchema.xsd"></xs:include> -->
	<xs:element name="BSDocument">
		<xs:annotation>
			<xs:documentation>Платежное поручение. ID=1. DocVersion = 7</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DOCUMENTDATE" type="BS_Date">
					<xs:annotation>
						<xs:documentation>Дата документа</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DOCUMENTNUMBER">
					<xs:annotation>
						<xs:documentation>Номер документа</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_String">
							<xs:maxLength value="15" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTID" type="BS_Integer">
					<xs:annotation>
						<xs:documentation>ID организации</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SENDEROFFICIALS">
					<xs:annotation>
						<xs:documentation>Ответственный исполнитель</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="40" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CURRCODE">
					<xs:annotation>
						<xs:documentation>Цифровой код валюты (810)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_String">
							<xs:maxLength value="3" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAYER">
					<xs:annotation>
						<xs:documentation>Название плательщика</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_String">
							<xs:maxLength value="160" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAYERPROPERTYTYPE">
					<xs:annotation>
						<xs:documentation>Тип собственности плательщика</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="10" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ORDERPAYER">
					<xs:annotation>
						<xs:documentation>Не заполняется</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="160" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAYERINN">
					<xs:annotation>
						<xs:documentation>ИНН плательщика</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAYERKPP">
					<xs:annotation>
						<xs:documentation>КПП плательщика</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="9" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAYERACCOUNT">
					<xs:annotation>
						<xs:documentation>Счет плательщика</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_String">
							<xs:maxLength value="25" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ORDERPAYERACCOUNT">
					<xs:annotation>
						<xs:documentation>Не заполняется</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="25" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAYERBIC">
					<xs:annotation>
						<xs:documentation>БИК банка плательщика</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_String">
							<xs:maxLength value="9" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAYERCORRACCOUNT">
					<xs:annotation>
						<xs:documentation>Кор. счет банка плательщика</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="25" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAYERBANKNAME">
					<xs:annotation>
						<xs:documentation>Название банка плательщика</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_String">
							<xs:maxLength value="80" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAYERBANKTYPE">
					<xs:annotation>
						<xs:documentation>Тип банка плательщика (Не заполняется)
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="10" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAYERPLACE">
					<xs:annotation>
						<xs:documentation>Населенный пункт банка плательщика
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="25" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAYERPLACETYPE">
					<xs:annotation>
						<xs:documentation>Тип населённого пункта банка плательщика
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="5" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RECEIVER">
					<xs:annotation>
						<xs:documentation>Получатель</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_String">
							<xs:maxLength value="160" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RECEIVERPROPERTYTYPE">
					<xs:annotation>
						<xs:documentation>Тип собственности получателя</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="10" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ORDERRECEIVER">
					<xs:annotation>
						<xs:documentation>Не заполняется</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="160" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RECEIVERINN">
					<xs:annotation>
						<xs:documentation>ИНН получателя</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RECEIVERACCOUNT">
					<xs:annotation>
						<xs:documentation>Счет получателя</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="25" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ORDERRECEIVERACCOUNT">
					<xs:annotation>
						<xs:documentation>Не заполняется</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="25" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RECEIVERBIC">
					<xs:annotation>
						<xs:documentation>БИК банка получателя</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_String">
							<xs:maxLength value="9" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RECEIVERCORRACCOUNT">
					<xs:annotation>
						<xs:documentation>Кор. счет банка получателя</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="25" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RECEIVERBANKNAME">
					<xs:annotation>
						<xs:documentation>Название банка получателя</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_String">
							<xs:maxLength value="80" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RECEIVERBANKTYPE">
					<xs:annotation>
						<xs:documentation>Тип банка получателя (Не заполняется)
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="10" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RECEIVERPLACE">
					<xs:annotation>
						<xs:documentation>Населенный пункт банка получателя
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="25" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RECEIVERPLACETYPE">
					<xs:annotation>
						<xs:documentation>Тип населённого пункта банка получателя
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="5" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AMOUNT" type="BS_Money" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сумма</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="NDS" type="BSMoney" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сумма НДС</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GROUND">
					<xs:annotation>
						<xs:documentation>Назначение платежа</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="255" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAYMENTURGENT">
					<xs:annotation>
						<xs:documentation>Очередность платежа</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_String">
							<xs:length value="2" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAYUNTIL" type="BSDate">
					<xs:annotation>
						<xs:documentation>Срок платежа (Не заполняется)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OPERTYPE">
					<xs:annotation>
						<xs:documentation>Вид операции (01)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_String">
							<xs:length value="2" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SENDTYPE">
					<xs:annotation>
						<xs:documentation>Способ отправки (пусто,срочно)
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="15" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="KNFCODE">
					<xs:annotation>
						<xs:documentation>Не используется</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="3" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RECEIVERKPP">
					<xs:annotation>
						<xs:documentation>КПП получателя</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="9" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="STAT1256">
					<xs:annotation>
						<xs:documentation>Статус налогоплательщика(101)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="2" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CBCCODE">
					<xs:annotation>
						<xs:documentation>Код КБК (104)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="20" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OKATOCODE">
					<xs:annotation>
						<xs:documentation>Код ОКАТО (105)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="11" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAYGRNDPARAM">
					<xs:annotation>
						<xs:documentation>Показатель основания платежа (106)
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="2" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TAXPERIODPARAM1">
					<xs:annotation>
						<xs:documentation>Показатель налогового периода (107) или код
							таможни</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="8" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TAXPERIODPARAM2">
					<xs:annotation>
						<xs:documentation>Показатель налогового периода (107)
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="2" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TAXPERIODPARAM3">
					<xs:annotation>
						<xs:documentation>Показатель налогового периода (107)
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="4" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DOCNUMPARAM1">
					<xs:annotation>
						<xs:documentation>Не заполняется</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="2" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DOCNUMPARAM2">
					<xs:annotation>
						<xs:documentation>Показатель номера документа (108)
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="15" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DOCDATEPARAM1">
					<xs:annotation>
						<xs:documentation>Показатель даты документа (109)
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="2" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DOCDATEPARAM2">
					<xs:annotation>
						<xs:documentation>Показатель даты документа (109)
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="2" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DOCDATEPARAM3">
					<xs:annotation>
						<xs:documentation>Показатель даты документа (109)
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="4" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAYTYPEPARAM">
					<xs:annotation>
						<xs:documentation>Показатель типа платежа (110)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="2" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="KBOPID">
					<xs:annotation>
						<xs:documentation>ID подразделения банка</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_Integer" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="SENDTYPECODE">
					<xs:annotation>
						<xs:documentation>Код вида платежа</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BS_Integer" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="CODEMESSAGE">
					<xs:annotation>
						<xs:documentation>Код сообщения</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="50" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MESSAGEFORBANK">
					<xs:annotation>
						<xs:documentation>Сообщение для банка</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="255" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CODEUIP">
					<xs:annotation>
						<xs:documentation>УИП (поле 22 «Код»)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="BSString">
							<xs:maxLength value="50" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="BS_Date">
		<xs:annotation>
			<xs:documentation>Дата. DD.MM.YYYY</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve" />
			<xs:pattern
				value="(0[1-9]|[12][0-9]|3[01])\.(0[1-9]|1[012])\.((19)|(20)\d{2})" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BS_String">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve" />
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BS_Integer">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="0" />
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BSString">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BS_STRING">
		<xs:annotation>
			<xs:documentation>Пустая строка</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="0" />
			<xs:whiteSpace value="collapse" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BSDate">
		<xs:annotation>
			<xs:documentation>DD.MM.YYYY | ""</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:list itemType="BS_Date" />
			</xs:simpleType>
			<xs:simpleType>
				<xs:list itemType="BS_STRING" />
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="BS_Money">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BSMoney">
		<xs:annotation>
			<xs:documentation>MONEY | ""</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:list itemType="BS_Money" />
			</xs:simpleType>
			<xs:simpleType>
				<xs:list itemType="BS_STRING" />
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
</xs:schema>